.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.container-form input {
  margin-right: 30px;
  width: 500px;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid #d9e0f3;
  transition: 0.5s;
  outline: none;
}

.container-form input[type="text"]:focus {
  border: 2px solid #3e92e3;
}

.container-form button {
  background-color: #3e92e3;
  border: none;
  border-radius: 6px;
  color: white;
  width: 70px;
  padding: 7px;
}

.container-character {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  overflow: hidden;
}

.container-character div {
  border: 4px solid #3e92e3;
  border-radius: 10px;
  margin: 10px;
  overflow: auto;
}

.container-character h3,
p,
h5 {
  padding: 8px;
}

.container-singleCharacter div {
  border: 4px solid #3e92e3;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;
  align-items: flex-start;
  margin: auto;
  margin-top: 50px;
}

.container-singleCharacter h3,
p,
h5 {
  padding: 8px;
}
